{%extends 'base.html'%}
{%block body%}

{%load static%}
<body style="background-color: 	#2F4F4F;">
    
</body>
    <section class="py-5 mt-3  " style="background-color: #5F9EA0;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                
                <div class="col-md-6">
                    {%if products.photo%}
                    <img class="card-img-top mb-5 mb-md-0" src="{{products.photo.url}}" alt="..." /></div>
                    {%else%}
                    <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    {%endif%}
                    
                <div class="col-md-6">
                    <!-- <div class="lead"><h3>seller {{products.owner}}</h3></div> -->
                    <h1 class="display-5 fw-bolder">{{products.name}}</h1>
                    <div class="fs-5 mb-5">
                        <!-- <span class="text-decoration-line-through">price</span> -->
                        <span><i class="fa-solid fa-indian-rupee-sign"></i>{{products.price}}</span>
                    </div>
                    <p class=""><h4 class="text-light">Description <i class="fa-regular fa-pen-to-square"></i>{{products.description}}</h4></p>
                    <p class="lead"><h4 class="text-light">condition <i class="fa-solid fa-left-right"></i> {{products.condition}}</h4></p>
                    <p class="lead"><h5 class="text-white">location <i class="fa-solid fa-location-pin-lock"></i>{{products.location}}</h5></p>
                    <div class="d-flex ">
                        <a class="btn btn-outline-black flex-shrink-0 " href="#">
                            <h3>{{products.status}}</h3>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div >
                                <button class="btn btn-outline-light form-control-lg col-md-6" type="submit">make ur offer</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    


{%endblock%}