{%extends 'base.html'%}
{%block body%}

<body style="background-image: linear-gradient( skyblue  , aquamarine  );">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              {{form.errors}}
            </div>
            <div class="col-4"></div>
          </div>
        
          <form class="mx-1 mx-md-4" method="post" enctype="multipart/form-data">
        
            {%csrf_token%}       
    </div>
    <div class="container mb-3 mt-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                {{form.as_p}}
                <button type="submit" class="btn btn-secondary">Add to sell</button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>





{%endblock%}